/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  height: 100%;
  width: 100%;
  font-size: 28px;
  line-height: 32px;
  background: #F7EBEB;
  font-family: "input-sans", Helvetica, arial, sans-serif;
  font-weight: 700;
  margin: 0px;
  color: #000000;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
  Objects: Row
  ---
  Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  padding: 24px 24px 24px;
  display: flow-root;
}

.o-row--nav {
  position: relative;
  display: flow-root;
}

.o-row--header {
  background: #ffffff;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 0 84px;
}

.o-row--rooms {
}

/* size modifiers */

.o-row--lg {
  padding-top: 48px;
  padding-bottom: 24px;
}

.o-row--xl {
  padding-top: 72px;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .o-row {
      padding-left: 48px;
      padding-right: 48px;
  }

  .o-row--md {
      padding-top: 48px;
      padding-bottom: 24px;
  }

  .o-row--lg {
      padding-top: 72px;
      padding-bottom: 48px;
  }
}

@media (min-width: 992px) {
  .o-row--xl {
      padding-top: 96px;
      padding-bottom: 72px;
  }

  .o-row--gray {
      padding-top: 72px;
      padding-bottom: 72px;
  }
}

@media (max-width: 768px) {
  .o-row {
      padding-top: 72px;
      padding-bottom: 72px;
  }
}

.o-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
  list-style: none;
  padding: 0;
}

.o-body {
  padding-top: 128px;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
  Component: Logo
  ---
  Website main logo
*/

.c-logo {
  height: 24px;
  display: flex;
  align-items: center;
}

/*
  Component: header
  ---
  Main header of the website
*/

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "benton-sans";
  font-weight: 500;
}

.c-header__nav,
.c-header__cta {
  display: none;
}

@media (min-width: 992px) {
  .c-header__nav,
  .c-header__cta {
      display: block;
  }

  .c-header__nav {
      display: flex;
      justify-content: flex-end;        
  }
}

@media (max-width: 768px) {
  .c-figure-header {
      display: none;
  }
}

/*
  Component: Nav
  ---
  Main navigation of the site
*/

.c-nav {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.c-nav__link {
  text-decoration: none;
  font-weight: 500;
  display: block;
  padding: 8px 0;
}

.c-nav__link,
.c-nav__link:visited,
.c-nav__link:active {
  color: #000000;
}

.c-nav__link:hover,
.c-nav__link:focus {
  color: #000000;
}

.c-header__link {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 600;
  display: block;
  padding-left: 32px;
}

.c-nav__link--active {
  color: #FF001F !important;
}

@media (min-width: 992px) {
  .c-nav__list {
      display: flex;
  }

  .c-nav__item--cta {
      margin-left: 20px;
  }

  .c-nav__link {
      padding: 8px 20px;
  }
}

.c-power-btn {
  margin: auto;
  background: #230C0C;
  border-radius: 13px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  font-size: 32px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 150px;
  transition: none;
}

/*
    Component: CTA link
    ---
    Small cta link with custom animation
*/

.c-link-cta {
  display: inline-block;
  text-decoration: none;
  line-height: 24px;
  padding: 8px 20px;
  border-radius: 4px;
  background: #FF3745;
  font-size: 14px;
  font-family: "benton-sans";
  font-weight: 500;
}

.c-link-cta,
.c-link-cta:visited,
.c-link-cta:active {
  color: #FFFFFF;
}

.c-link-cta:hover,
.c-link-cta:focus {
  color: #FFFFFF;
  background: #FF3745;
}

.c-link-cta:active {
  background-color: #FF3745;
}

.c-link-cta--lg {
  font-size: 18px;
  padding: 16px 32px;
}

.c-link-header {
  display: inline-block;
}

.c-link-text {
  font-size: 18px;
}

.c-icon {
  position: relative;
  fill: #ffffff;
}

.c-room {
  display: flex;
  flex-direction: column;
  background: #71494A;
  padding: 1em;
  margin: 0 12px;
  border-radius: 19px;
}

.c-room__name {
  font-family: "input-sans";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 12px;
  color: #ffffff;
}

.c-room__icon {
  margin-bottom: 20px;
}

.c-title {
  font-family: "input-sans";
  font-weight: 700;
  font-size: 52px;
  text-align: center;
  padding: 24px;
  background: #ffffff;
}